NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=896c268f111c28759e36d77476fe2277
NEXT_PUBLIC_KER_ADDRESS=.................................
UNISWAP_API_KEY=your_trading_api_key
UNISWAP_API_URL=https://trade-api.gateway.uniswap.org/v1
MARKET_INDEX_URL=https://indexer.scopl.live/api/indexer/pools
